<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway|Zilla+Slab" rel="stylesheet">
</head>
<body>
<header>
	<h4><a href="/login">Login</a></h4>

	<div> 
		<a href="/">
			<h1>woofer</h1>
			<h3>a new leash on life</h3>
		</a>
	</div>

	<h4><a href="/sign-up">Sign Up</a></h4>
</header>

<% if logged_in? %>
	
	<aside>
	<h3>Inbox: ( <%= current_user.received_messages.count %> )</h3>
	<% if current_user.received_messages.count > 0 %>
		<% current_user.received_messages.each do |message|%>
			<p><%= message['body'] %></p>
			<p> <b>sent by: <%= @dogs.find(message[:sender_id]).user_name %> </b> </p>
		<%end%> 
	<%end%> 

	<h3>Outbox: ( <%= current_user.sent_messages.count %> )</h3>
	<% if current_user.sent_messages.count > 0 %>				
		<% current_user.sent_messages.each do |message|%>
			<p><%= message['body'] %></p>
			<p> <b>sent to: <%= @dogs.find(message[:recipient_id]).user_name %> </b> </p>
		<%end%>
	<%end%>
</aside>

<% end %>

  <%= yield %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSomp9bEPfP3XI-GrdNnyzaTolK6YLpcY&libraries=places"></script>
<script type="text/javascript" src="javascripts/application.js"></script>

</body>
</html>